/* line 1, sass/kiosk.scss */
body, html {
  background: #dbffd9;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', serif;
}

/* line 8, sass/kiosk.scss */
.tree {
  max-height: 32px;
  padding-right: 1em;
}

/* line 13, sass/kiosk.scss */
main div.bg-light {
  background-color: #dbffd9 !important;
}

/* line 17, sass/kiosk.scss */
.card a {
  color: #1d7053;
}
/* line 20, sass/kiosk.scss */
.card a:hover {
  text-decoration: none;
}

/* line 25, sass/kiosk.scss */
.card-body {
  width: 100%;
  height: 25vh;
}
/* line 29, sass/kiosk.scss */
.card-body .subtext {
  text-align: center;
  padding-top: 10%;
  display: none;
}
/* line 34, sass/kiosk.scss */
.card-body .container {
  font-size: 2.5rem;
  text-align: center;
  padding-top: 20%;
  font-weight: 200;
}

/* line 43, sass/kiosk.scss */
.block1a, .block2a, .block3a {
  display: none;
}

/* line 47, sass/kiosk.scss */
.block4a {
  visibility: hidden;
}

/* line 50, sass/kiosk.scss */
.arti-album {
  width: 100%;
}
/* line 52, sass/kiosk.scss */
.arti-album .container {
  width: 100%;
}
/* line 54, sass/kiosk.scss */
.arti-album .container .row {
  width: 100%;
  margin: auto;
}
/* line 57, sass/kiosk.scss */
.arti-album .container .row .artifact {
  margin: auto;
}

/* line 64, sass/kiosk.scss */
.artifact .card-body {
  height: auto;
}

/* line 69, sass/kiosk.scss */
strong span {
  text-decoration: underline;
}
