/* line 3, sass/kiosk.scss */
body.landing {
  background: black url("images/landingbg.jpg");
  height: 100vh;
}

/* line 8, sass/kiosk.scss */
.bg-toobalight {
  background-color: #cbcbcb;
}

/* line 12, sass/kiosk.scss */
body {
  background-color: #ecffeb;
}

/* line 16, sass/kiosk.scss */
body, html {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', serif;
}

/* line 22, sass/kiosk.scss */
.tree {
  max-height: 115%;
  padding: 0 1em 0 1em;
  background: #ecffeb;
  position: absolute;
  margin-left: -2vw;
}

/* line 30, sass/kiosk.scss */
main div.bg-light {
  background-color: #ecffeb !important;
}

/* line 34, sass/kiosk.scss */
.card {
  background: transparent;
  border: none;
  transition: .25s all ease;
}
/* line 39, sass/kiosk.scss */
.card.active {
  transform: translate(5px, 5px);
}

/* line 44, sass/kiosk.scss */
.card a {
  color: white;
  background: linear-gradient(#24c35b, #1d7053);
  border-radius: 20px;
}
/* line 50, sass/kiosk.scss */
.card a:hover {
  text-decoration: none;
}

/* line 55, sass/kiosk.scss */
.nowhite {
  background: transparent;
}

/* line 59, sass/kiosk.scss */
.mb-2 .card-body {
  height: 15vh;
  padding: 0;
}
/* line 62, sass/kiosk.scss */
.mb-2 .card-body .image {
  width: 90%;
  overflow: hidden;
}
/* line 65, sass/kiosk.scss */
.mb-2 .card-body .image img {
  max-height: 12.5vh;
  min-height: 12.5vh;
  margin: 1vh 0.8vw;
}
/* line 72, sass/kiosk.scss */
.mb-2 .card-body .container {
  font-size: 1em;
  color: black;
}
/* line 73, sass/kiosk.scss */
.mb-2 .card-body .container.whitey {
  color: white;
  padding-top: 5%;
}

/* line 82, sass/kiosk.scss */
.card-body {
  width: 100%;
  height: 10vh;
}
/* line 86, sass/kiosk.scss */
.card-body .subtext {
  text-align: center;
  padding-top: 10%;
  display: none;
}
/* line 91, sass/kiosk.scss */
.card-body .container {
  font-size: 2.5rem;
  text-align: center;
  font-weight: 200;
  line-height: 5vh;
}

/* line 107, sass/kiosk.scss */
.arti-album img {
  max-width: 100%;
}

/* line 111, sass/kiosk.scss */
.arti-album .card-body {
  height: auto;
}

/* line 116, sass/kiosk.scss */
.artifact .card-body {
  height: auto;
}

/* line 121, sass/kiosk.scss */
strong span {
  text-decoration: underline;
  color: #1d7053;
}

/* line 126, sass/kiosk.scss */
.breathe {
  margin-bottom: 5vh;
  margin-top: 15vh;
}

/* line 131, sass/kiosk.scss */
.backbutton {
  max-height: 45px;
  padding-right: 1em;
  position: relative;
  left: 5vw;
  transition: .25s all ease;
}
/* line 137, sass/kiosk.scss */
.backbutton.active {
  transform: translate(5px, 5px);
}

/* line 142, sass/kiosk.scss */
.tbreadcrumb {
  margin-left: 8vw;
  position: absolute;
  font-size: 1.2em;
}
/* line 146, sass/kiosk.scss */
.tbreadcrumb strong span {
  cursor: pointer;
  transition: .5s all ease;
}
/* line 149, sass/kiosk.scss */
.tbreadcrumb strong span.clicked {
  font-size: 2em;
  text-decoration: none;
}

/* line 156, sass/kiosk.scss */
.discussion {
  border: #24c35b 3px solid;
}

/* line 160, sass/kiosk.scss */
.discussion header {
  text-align: center;
  font-weight: bold;
  padding-bottom: 1em;
}
/* line 165, sass/kiosk.scss */
.discussion .subject {
  font-style: italic;
  padding-bottom: .5em;
}
