/* line 6, sass/pin.scss */
#inspiration {
  position: fixed;
  right: 1em;
  bottom: 1em;
}
/* line 10, sass/pin.scss */
#inspiration a {
  display: inline-block;
  float: left;
  text-decoration: none;
  font-weight: bold;
  color: white;
  transition: all 1s ease;
}
/* line 17, sass/pin.scss */
#inspiration a:hover {
  color: #212121;
}
/* line 21, sass/pin.scss */
#inspiration p {
  margin: 0;
  padding-left: .4em;
  display: inline-block;
  float: right;
  color: rgba(255, 255, 255, 0.6);
}

/* line 30, sass/pin.scss */
#pin {
  transition: all 2s ease;
  background: #212121;
  margin: 5% auto auto auto;
  width: 25%;
  min-width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3em;
  border-radius: .3em;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  color: rgba(255, 255, 255, 0.2);
  position: relative;
  overflow: hidden;
}
/* line 31, sass/pin.scss */
#pin.invisible {
  opacity: 0;
  height: 15vh;
  top: 65vh;
}
/* line 37, sass/pin.scss */
#pin.visible {
  opacity: 1;
  height: 70vh;
  top: 10vh;
}
/* line 43, sass/pin.scss */
#pin.success {
  background: green;
}

/* line 64, sass/pin.scss */
.dots {
  width: 50%;
  display: flex;
  justify-content: space-around;
  padding: 1em;
  padding-top: 3em;
}

/* line 72, sass/pin.scss */
.dot {
  position: relative;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 1.5em;
  width: 1.5em;
  height: 1.5em;
  transform: scale3d(0.7, 0.7, 0.7);
}
/* line 79, sass/pin.scss */
.dot.active {
  animation: growDot .5s ease;
  animation-fill-mode: forwards;
}
/* line 83, sass/pin.scss */
.dot.wrong {
  animation: wrong .9s ease;
}
/* line 86, sass/pin.scss */
.dot.correct {
  animation: correct .9s ease;
}

/* line 91, sass/pin.scss */
#pin p {
  font-size: .8em;
}

/* line 95, sass/pin.scss */
.numbers {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  align-content: flex-end;
  margin: 2em 0;
}

/* line 104, sass/pin.scss */
.number {
  position: relative;
  width: 2em;
  height: 2em;
  margin: 0.4em;
  border-radius: 2em;
  border: 2px solid rgba(255, 255, 255, 0);
  text-align: center;
  line-height: 2em;
  font-weight: 400;
  font-size: 2.5em;
  cursor: pointer;
  user-select: none;
  transition: all .5s ease;
}
/* line 118, sass/pin.scss */
.number:hover {
  color: rgba(255, 255, 255, 0.5);
}
/* line 120, sass/pin.scss */
.number:hover:before {
  border: 2px solid rgba(255, 255, 255, 0.5);
}
/* line 124, sass/pin.scss */
.number:before {
  content: "";
  position: absolute;
  left: -2px;
  width: 2em;
  height: 2em;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 2em;
  transition: all .5s ease;
}
/* line 134, sass/pin.scss */
.number.grow:before {
  animation: grow .6s ease;
}

@keyframes growDot {
  100% {
    background: white;
    transform: scale3d(0.9, 0.9, 0.9);
  }
}
@keyframes grow {
  50% {
    transform: scale3d(1.5, 1.5, 1.5);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
@keyframes wrong {
  20% {
    background: crimson;
  }
  40% {
    transform: translate(-15px, 0);
  }
  60% {
    transform: translate(10px, 0);
  }
  80% {
    transform: translate(-5px, 0);
  }
}
@keyframes correct {
  20% {
    background: limegreen;
  }
  40% {
    transform: translate(0, -15px);
  }
  60% {
    transform: translate(0, 10px);
  }
  80% {
    transform: translate(0, -5px);
  }
}
@keyframes bg-red {
  50% {
    background: crimson;
  }
}
@keyframes bg-green {
  50% {
    background: limegreen;
  }
}
/* line 197, sass/pin.scss */
#prompt {
  bottom: 15vh;
  position: absolute;
  /* margin: auto; */
  display: block;
  width: 20vw;
  margin-left: 40vw;
  line-height: 2em;
  font-size: 1.8em;
}
/* line 207, sass/pin.scss */
#prompt span {
  transition: .25s all ease;
  cursor: pointer;
  background: #a4c737;
  width: 100%;
  display: inline-block;
  text-align: center;
  box-shadow: 6px 5px 0 0 rgba(144, 174, 50, 0.5);
}
/* line 208, sass/pin.scss */
#prompt span.active {
  box-shadow: none;
  transform: translate(5px, 5px);
}
