<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="">
    <title>Tooba Kiosk</title>
    {% load static %}
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="{% static 'kiosk/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'kiosk/album.css' %}" rel="stylesheet">
    <link href="{% static 'kiosk/kiosk.css' %}" rel="stylesheet">
</head>

<body>

<header>

    <div class="navbar navbar-dark shadow-sm bg-toobalight">
        <div class="container d-flex justify-content-between">
            <a href="/portal/" class="navbar-brand d-flex align-items-center">
                <img class="tree" src="{% static 'kiosk/images/toobalogo.png' %}"/>
            </a>
            <div class="tbreadcrumb"><strong>{% block header %}{% endblock %}</strong></div>
            <a href="javascript:history.back()" class="navbar-brand d-flex align-items-center">
                <img  class="backbutton" src="{% static 'kiosk/images/backbutton.png' %}"/>
            </a>
        </div>
    </div>
</header>

<main role="main">
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</main>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'kiosk/jquery-3.3.1.slim.min.js' %}"></script>
<script src="{% static 'kiosk/popper.min.js' %}"></script>
<script src="{% static 'kiosk/bootstrap.min.js' %}"></script>
<script src="{% static 'kiosk/holder.min.js' %}"></script>
<script src="{% static 'kiosk/kiosk.js' %}"></script>
</body>
</html>
