{% extends "base.html" %}
{% block header %}
    Tooba
{% endblock %}
{% block content %}
    {% if sectors %}
        {% for sector in sectors %}
<div class="col-md-1 block{{ sector.id }}b breathe"></div>
            <div class="col-md-5 block{{ sector.id }}b breathe">
                <div class="card mb-4 shadow-sm">
                    <a href="{% url 'sector' sector.id %}">
                        <div class="card-body">
                            <div class="container">{{ sector.sector_text }}</div>
                            <div class="subtext">{{ sector.project_set.count }}</div>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>No sectors.. Oh noes..</p>
    {% endif %}
{% endblock %}