{% extends "base.html" %}
{% block header %}
    <span linkurl="/portal">Tooba</span> >
    <span linkurl="{% url 'sector' sid %}">{{ sectorname }}</span> >
    {{ projectname }}
{% endblock %}
{% block content %}
    {% if artifacts %}
        <div class="col-md-7">
            <div class="row">
                {% for artifact in artifacts %}
                <div class="col-md-3">
                    <div class="card mb-2 shadow-sm">
                        <a href="{% url 'artifact' artifact.id %}">
                            <div class="card-body">
                                <div class="whitey container">
                                    {{ artifact.artifact_text }} {{ artifact.filetype }}
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
        <div class="col-md-1">
        </div>
        {{ discussion.discussion_subject }}
        {% include "discussion.html" %}
    {% else %}
        <p>No projects.. Oh noes..</p>
    {% endif %}{% endblock %}