{% extends "base.html" %}
{% block header %}
    <span linkurl="/">Tooba</span> >
    {{ sectorname }}{% endblock %}

{% block content %}
    {% if projects %}
        {% for project in projects %}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <a href="{% url 'project' project.id %}">
                        <div class="card-body">

                            <div class="container">{{ project.project_text }}</div>
                            <div class="subtext"> ({{ project.artifact_set.count }})</div>


                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>No sectors.. Oh noes..</p>
    {% endif %}{% endblock %}